/* Global Styles */
* {
    margin: 0;
    padding: 0;
    min-height: 0;
    min-width: 0;
    font-family: 'Montserrat', sans-serif;
}
html,
body {
    height: 100%;
}
.wrap-text {
    word-break: break-word;
}
.text-x {
    margin: 0 10%;
}
.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.space-bottom {
    margin-top: 30px;
}
.line-divider {
    border: 2px solid rgb(195, 195, 19);
}
.checked {
    color: yellow;
}
.p-1 {
    margin-top: 50px;
}

/* Text Styles */
.empty-text {
    margin-top: 250px;
}

/* Navbar Style */
.box-shadow-y {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

/* Hero Styles */
.hero-body h1 {
    margin-top: 20px;
}

/* Card Styles */
.card {
    height: 100%;
    max-width: 100%;
    box-shadow: 3px 3px 5px grey;
}

/* Footer Styles */
.footer {
    width: 100%;
    position: absolute;
    clear: both;
    border-top: 30px solid #A3B40E;
    background-color: #292C3F;
}

/* Desktop Version */
@media (min-width: 1000px) and (max-width: 1408px) {

    /* Text Style */
    .space-top {
        margin-top: 50px;
    }
    
}

/* Mobile Version */
@media (min-width: 320px) and (max-width: 1000px) {

    /* Button Styles */
    .reset-button {
        width: 100%;
    }
    .fullwidth-button {
        width: 100%;
    }

    /* Hero Styles */
    .hero-content {
        margin-top: 45%;
    }

}