/* Global Style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html,
body {
    height: 100%;
}
span {
    padding-right: 5px;
}
hr {
    background-color: rgb(212, 198, 198);
}
.wrap-text {
    word-break: break-word;
}
.flash-message {
    margin-top: 50px;
}

/* Icon Style */
.icon {
    height: 30px;
    width: 30px;
    vertical-align: baseline;
    justify-content: center;
    align-items: center;
}

/* Navbar Style */
.box-shadow-y {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

/* Sidebar Style */
.px-1,
.p-1 {
    padding-left: 0.75rem; 
}
.py-1,
.p-1 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.menu-container {
    position: fixed;
    bottom: 0;
    margin: auto;
    min-width: 300px;
    z-index: 10;
    background: transparent;
}
.toggler{
    margin-left: 0;
    cursor: pointer;
}
.menu-container.active {
    transform: translateX(0%);
}

/* Content Style */
.content {
    min-height: 100%; 
    overflow: auto;
}

/* Table Style */
.table-data {
    margin-bottom: 50px;
}

/* Footer Style */
.footer {
    width: 100%;
    position: relative;
    height: 100px;
    clear: both;
    border-top: 30px solid #A3B40E;
    background-color: #292C3F;
}

/* Desktop Version */
@media (min-width: 1000px) and (max-width: 1408px) {
    /* Sidebar Style */
    .menu-container {
        width: 16%;
        min-width: auto;
        transform: translateX(0%);
    }

    /* Footer Style */
    .text-copyright {
        margin-left: 200px;
    }
}

/* Mobile Version */
@media (min-width: 320px) and (max-width: 1000px) {
    /* Sidebar Style */
    .menu-container {
        transform: translateX(-100%);
        transition: all ease 0.5s;
    }

    /* Button Style */
    .is-fullwidth-mobile {
        display: flex;
        width: 100%;
    }
}