/* Global Style */
* {
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.header-login {
    text-align: center;
}

.info-sign {
    text-align: center;
}

/* Button Style */
.login-button {
    color: black !important;
    padding: 0px 30px !important;
    border: 3px solid #EDD93A !important;
    width: 80%;
}

.button-center {
    text-align: center;
}

/* Card Style */
.card {
    border-radius: 25px;
    box-shadow: 2px 2px 4px;
}

/* Desktop Version */
@media (min-width: 1024px) and (max-width: 1408px) {

    /* Form Style */
    .field {
        margin: 40px 50px;
    }

    .info-sign {
        text-align: center;
        margin-top: 50px;
    }
}

/* Mobile Version */
@media (min-width: 320px) and (max-width: 1024px) {

    /* Form Style */
    .field {
        margin: 40px 0px;
    }

    input,
    label {
        text-align: center;
    }

    .info-sign {
        text-align: center;
        margin-top: 20px;
    }

    /* Button Style */
    .login-button {
        width: 100%;
    }

    .button-center {
        text-align: center;
    }
}